/* Added a global declaration for default styling*/
* {
    margin: 0px;
    padding: 0 px;
    box-sizing: border-box;
    font-family: monospace;


    /* debugging */
    border: 1px solid blue;
}

/* made entire body a lilac color and made default text in body container monospace*/
body {
    background-color: #E7C3F1;
}

/* made all p tags 1.3em, 1 em = 16px */
p {
    color: #321839;
    font-size: 1.3em;
}

/* outer container section */
.outside-container {
    padding: 10px; 
    height: 100vh;
}


button {
    outline: none;
    background-color: #E7C3F1;
    color: #321839;
    font-size: 1.3em;
}

.top-bar p{
    float: right;

}