/* Added a global declaration for default styling*/
* {
    margin: 0px;
    padding: 0 px;
    box-sizing: border-box;
    font-family: monospace;
    color: #321839;

    /* debugging */
    border: 1px solid blue;
}

/* made entire body a lilac color and made default text in body container monospace*/
body {
    background-color: #E7C3F1;
    overflow: hidden;
}

/* made all p tags 1.3em, 1 em = 16px */
p {
    font-size: 1.3em;
}

/* outer container section */
/* flex prevents it from flowing out */
.outside-container {
    padding: 10px; 
    height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content:start ;
    
}

/* inner container section */
.inside-container {
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 50%;
    margin: 0 auto;
}


button {
    outline: none;
    background-color: #E7C3F1;
    font-size: 1.3em;
}

.top-bar p{
    float: right;

}

